// Color
$orange: #ED653B;
$white: #ffffff;
$black: #000000;
$gold: #ffd700;
$green: #008000;
$skyblue: #F0F8FA;
$light-black: #000000d2;
$dark-aquamarine: #143429;
$gray: #363636;
$yellow: #ffff00;
$light-pink: #ED653B14;
$pista: #ECF4E9;

// Font-Size
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-26: 26px;
$font-30: 30px;
$font-32: 32px;
$font-38: 38px;
$font-40: 40px;
$font-48: 48px;

// Font-Weight
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

// Space
$space-6: 6px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-14: 14px;
$space-16: 16px;
$space-20: 20px;
$space-30: 30px;
$space-32: 32px;
$space-40: 40px;
$space-52: 52px;
$space-56: 56px;
$space-62: 62px;
$space-64: 64px;
$space-72: 72px;
$space-80: 80px;
$space-88: 88px;
$space-90: 90px;
$space-92: 92px;
$space-100: 100px;
$space-110: 110px;
$space-148: 148px;

// height
$height-74px: 74px;
$height-300: 300px;
$height-350: 350px;
$height-400: 400px;
$height-615: 615px;
$height-650: 650px;

// Border-Width
$border-width-1: 1px;
$border-width-2: 2px;
$border-width-5: 5px;
$border-width-10: 10px;

// Border-Style
$border-style-solid: solid;

// Border-redius
$b-r-22: 22px;
$b-r-32: 32px;

// Transition
$transition: 0.3 ease;

// Breakpoints
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1199px;
$xxl-breakpoint: 1499px;